*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f6f7f6;
    overflow: hidden;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: #b2bab2 1px solid;   
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    z-index: 1000;
}
#search{
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px 24px;
    margin-left: 20%;
}
.first{
    width: 30vh;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #4b40a2;
    font-weight: 700;
}
.second{
    display: flex;
    position: relative;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}
.search-icon{
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  pointer-events: none;
}
.user-img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}
.icons{
    display: flex;
    align-items: center;
    gap: 20px;
}
.right{
    display: flex;
    align-items: center;
    gap: 20px;
}
.user{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0px 20px 0px 20px;   
}
.sidebar{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30vh;
    gap: 50px;
    position: fixed;
    top: 70px; 
    left: 0;
    bottom: 0;
    height: calc(100vh - 70px);
    overflow: auto;
}
.sidebar-box{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.list-items{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 10px;
}
ul i{
    margin-right: 8px;
}
.sidebar-head{
    font-size: 18px;
    font-weight: 600;
    color: #c3c0d6;
}
.sidebar ul{
    font-size: 12px;
    font-weight: 600;   
}
.sidebar h3{
    font-size: 16px;
}
.sidebar{
    border-right: #b2bab2 1px solid;
}
.sidebar-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebar-footer button{
    width: 80%;
    padding: 10px;
    background-color: #4b40a2;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 10px;
}
.sidebar-footer footer{
    margin-bottom: 10px;
}
.body{
    display: flex;
    margin-top: 70px;
    height: calc(100vh - 70px);
}
.main-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-left: 30vh;
    height: calc(100vh - 70px);
    overflow-y: auto;
}
.dash-first{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1{
    font-size: 24px;
    font-weight: 700;
    color: #333333;
}
.dash-second{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.cards{
    background-color: white;
    flex: 1;
    margin-top: 10px;
    margin-right: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.cards span{
    font-size: 16px;
    font-weight: 500;
    color: #232222;
}
.cards p{
    font-size: 24px;
    font-weight: 600;
    color: #4b40a2;
    margin-top: 10px;
}
.filters button{
    border: 1px solid #4b40a2;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 10px;
    font-weight: 500;
    cursor: pointer;
    margin-left: 10px;
}
.cards i{
    margin-right: 5px;
}
.dash-third{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.sales-overview{
    min-width: 430px;
    flex: 3;
}
.total-subscriber{
    min-width: 320px;
    min-height: 306px;
    flex: 2;
}
.graph-boxes{
    display: flex;
    gap: 20px;
    margin-top: 10px;
    justify-content: space-around;
}
.box-column{
    display: flex;
    flex-direction: column-reverse;
    align-content: space-around;
    width: 20%;
    height: 200px;
    border-radius: 3px;
    gap: 4px;
}
.box-column .box{
    width: 80%;
    border-radius: 4px;
}
.purple{
    background-color: #5347cd;
    height: 18%;  
}
.violet{
    background-color: #887cfd;
    height: 12%;
}
.green{
    background-color: #4896fd;
    height: 8%;
}
.orange{
    background-color: #16c8c5;
    height: 4%;
}
.yellow{
    background-color: #69e9e9;
    height: 2%;
}
.country-name{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    margin-top: 12px;
    gap: 20px;
}
.total-subs{
    display: flex;
    justify-content: space-around;
    align-content: flex-end;
    align-items: center;
    margin-top: 10px;
    height: 70%;
    gap: 3px;
    overflow-y: auto;
}

.subs-bar{
    width: 8%;
    height: 80%;
    background-color: #ded2d2;
    border-radius: 3px;
}
.colored-bar{
    background-color: #4b40a2;
}
.days{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: small;
}
.dash-fourth{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}
.sales-distribution{
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
}

.sales-distribution h6{
    font-size: 16px;
    font-weight: 600;
    color: #9191a6;
    margin-top: 10px;
    padding: 0px 10px 0px 10px;
    border-left: #2358b9 3px solid;
    border-radius: 1pxpx;
}

.sales-distribution p{
    font-size: 20px;
    font-weight: 600;
    color: #121214;
    margin-top: 0px;
    padding: 0px 10px 0px 10px;
}
.sales-bar{
    margin-top: 6%;
    display: flex;
    border: 1px solid #ded2d2;
    padding: 2px;
    gap: 4px;
    border-radius: 4px;

}
.sales-bar .bar1{
    height: 20px;
    background-color:#5347cd;
    width: 30%;
    border-radius: 4px;
}
.sales-bar .bar2{
    height: 20px;
    width: 20%;
    background-color:#16c8c7 ;
    border-radius: 4px;
}
.sales-bar .bar3{
    height: 20px;
    flex-grow: 1;
    background-color:#edeff3 ;
    border-radius: 4px;
}
.dash-fourth .first-card{
    min-width: 300px;
    flex: 2;
}
.dash-fourth .second-card{
    min-width: 430px;
    flex: 3;
}
.list-container{
    display: grid;
    grid-template-rows: repeat(4, 2fr);  
    padding: 20px 8px 0px 8px; 
    overflow-x: auto;
}

.list-container .rows{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr;
    border-bottom: 1px solid #ded2d2;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
nav{
    display: none;
}
.main-content{
    margin-left: 0;
}
.first{
    width: 20%;
}

.right .icons{
        display: none;
    }
    
}

@media (max-width: 560px) {
    .right .user span{
        display: none;
    }
    

}


